.tab-content {
	padding: 10px 0;
}

.box {
	margin-top: 10px;
	padding: 10px;
}

body{
    font-family: Roboto, 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.sidebarUserName{
    white-space: normal;
}

.sidebar-collapse .sidebarUserName{
    display: none;
    transition: 0.2s;
}