description = "Подвал сайта"

[viewBag]
snippetCode = "footer"
snippetName = "Footer"

[staticMenu]
code = "new-menu-left"

[staticMenu staticMenu2]
code = "new-menu-center-left"

[staticMenu staticMenu3]
code = "new-menu-center-right"

[staticMenu staticMenu4]
code = "new-menu-right"
==
<footer class="footer">
	<div class="footer__container container">
		<div class="footer__primary">
			<div class="footer__nav">
				<nav class="column-nav">
				    <section>
				        {% component 'staticMenu' %}
				    </section>
				    <section>
				        {% component 'staticMenu2' %}
				    </section>
				    <section>
				        {% component 'staticMenu3' %}
				    </section>
				    <section>
				        {% component 'staticMenu4' %}
				    </section>
				</nav>
			</div>
			<!--
			<div class="footer__actions">
				<div class="footer__search">
					<form class="search">
						<input class="search__input" type="search">
						<button class="search__submit" type="submit"></button>
					</form>
				</div>
				<div class="footer__site-map">
					<a class="link" href="#">Карта сайта</a>
				</div>
			</div>-->
			<div class="footer__secondary_line"></div>
		</div>
		<div class="footer__secondary">
			<div class="footer__secondary_logo"></div>
			<div class="footer__secondary_description">
				<div class="footer__secondary_title">
					&copy; Математический факультет ЯрГУ им.П.Г.Демидова, 2016
				</div>
				<div class="footer__secondary_title">
					&copy; Ярославский государственный университет им.П.Г.Демидова
				</div>
			</div>
		</div>
	</div>
</footer>