description = "Скрипты страниц"

[viewBag]
snippetCode = "scripts"
snippetName = "Scripts"
==
<div class="hidden"></div>

<!--[if lt IE 9]>
<script src="{{ [
				'assets/libs/es5-shim/es5-shim.min.js',
				'assets/libs/html5shiv/dist/html5shiv.min.js',
				'assets/libs/html5shiv/dist/html5shiv-printshiv.min.js',
				'assets/libs/respond/respond.min.js',
			] | theme }}"></script>
<![endif]-->

<script src="{{ 'assets/libs/jquery/dist/jquery.min.js' | theme }}"></script>

<!-- Load Scripts Start -->
<script>var scr_src = {
		"scripts": [
			{"src": "{{ 'assets/js/libs.js' | theme }}", "async": false},
			{"src": "{{ 'assets/js/common.js' | theme }}", "async": false}
		]
	};
	!function (t, n, r) {
		"use strict";
		var c = function (t) {
			if ("[object Array]" !== Object.prototype.toString.call(t))return !1;
			for (var r = 0; r < t.length; r++) {
				var c = n.createElement("script"), e = t[r];
				c.src = e.src, c.async = e.async, n.body.appendChild(c)
			}
			return !0
		};
		t.addEventListener ? t.addEventListener("load", function () {
			c(r.scripts);
		}, !1) : t.attachEvent ? t.attachEvent("onload", function () {
			c(r.scripts)
		}) : t.onload = function () {
			c(r.scripts)
		}
	}(window, document, scr_src);
</script>
<!-- Load Scripts End -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function () {
			try {
				w.yaCounter37239295 = new Ya.Metrika({
					id: 37239295,
					clickmap: true,
					trackLinks: true,
					accurateTrackBounce: true,
					webvisor: true,
					trackHash: true
				});
			} catch (e) {
			}
		});

		var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () {
					n.parentNode.insertBefore(s, n);
				};
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else {
			f();
		}
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
	<div><img src="https://mc.yandex.ru/watch/37239295" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

{% framework extras %}
{% scripts %}