<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^themes/.*/(layouts|pages|partials)/.*.htm" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^bootstrap/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^config/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^vendor/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^storage/cms/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^storage/logs/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^storage/framework/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^storage/temp/protected/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^storage/app/uploads/protected/.*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{URL}" pattern="\.js" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.map" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.ico" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.jpg" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.jpeg" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.bmp" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.png" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.gif" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.svg" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.css" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.less" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.scss" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.pdf" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.swf" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.txt" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.xml" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.xls" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.eot" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.woff" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.woff2" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.ttf" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.flv" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.wmv" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.mp3" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.ogg" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.wav" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.avi" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.mov" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.mp4" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.mpeg" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.webm" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="\.mkv" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="docs/.*" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="themes/.*" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="default.aspx" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
