title = "Главная страница"
url = "/"
layout = "MainLayout"
description = "Главная страница сайта Математического факультета ЯрГУ"
is_hidden = 0
meta_title = "МатФак"
meta_description = "Главная страница сайта Математического факультета ЯрГУ"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "Постов пока нет"
sortOrder = "published_at desc"
categoryPage = "index"
postPage = "post-view"
==

<div class="features">
	<div class="features__container container">
		<div class="features__head">
			<h2 class="features__title">
				У нас творится история
			</h2>
			<div class="features__link">
				<a class="button button_palette_blue button__news" href="/news">НОВОСТИ &nbsp;►</a>
			</div>
		</div>
		<ul class="features__list">
			<li class="features__item teaser_palette_blue">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_1.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_purple">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_2.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_orange">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_3.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_blue">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_4.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_purple">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_5.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_orange">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_6.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>

<!--
<ul class="post-list">
    {% for post in posts %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="info">
                Posted
                {% if post.categories.count %} in {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                on {{ post.published_at|date('M d, Y') }}
            </p>

            <p class="excerpt">{{ post.summary }}</p>
        </li>
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>
-->