title = "Новости факультета"
url = "/news/:page?"
layout = "SecondaryLayout"
description = "Список последних новостей факультета"
is_hidden = 0
meta_title = "Новости факультета"
meta_description = "Новости нашего факультета"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Постов нет"
sortOrder = "published_at desc"
categoryPage = "index"
postPage = "post-view"
==

{% for post in posts %}
	<article class="news__item">
		<div class="news__item_preview">
			{% if post.featured_images.count %}
				{# the first variable will select the first featured image of the respective post #}
				{% set first = post.featured_images|first %}
				{% set ext = first.extension|lower %}
				{# the second variable will create the path to the thumbnail #}
				{% set src = first.path|trim(first.disk_name) ~ 'thumb_' ~ first.id ~ '_' ~ '200x200_0_0_crop' ~ '.' ~ ext %}
				<img
						data-src="{{ first.filename }}"
						src="{{ src }}"
						alt="{{ first.description }}"
						style="max-width: 100%" class="news_pic round"
				/>
			{% else %}
				<img src="{{ "assets/img/news__5.png" | theme }}" alt="Новость" class="news_pic round">
			{% endif %}
		</div>
		<div class="news__item_body">
			<time class="news__item_date_date">
				{{ post.published_at|localizeddate('medium', 'none', locale) }}
			</time>
			<div class="news__item_title">
				<a class="contacts_link" href="{{ post.url }}">{{ post.title }}</a>
			</div>
			<div class="news__item_description">
				{{ post.summary|raw }}
			</div>
		</div>
	</article>
{% else %}
	<article class="news__item no-data">{{ noPostsMessage }}</article>
{% endfor %}

<!--
<div class="post-list">
	{% for post in posts %}

		<article class="media">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

			<p class="info">
				Опубликовано
				{% if post.categories.count %} в {% endif %}
				{% for category in post.categories %}
					<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
				{{ post.published_at|localizeddate('medium', 'none', locale) }}
				({{ post.published_at | time_diff  }})
			</p>

			<p class="excerpt">{{ post.summary }}</p>
		</article>

	{% else %}
		<li class="no-data">{{ noPostsMessage }}</li>
	{% endfor %}
</div>

{% if posts.lastPage > 1 %}
	<nav>
		<ul class="pagination">
			{% if posts.currentPage > 1 %}
				<li>
					<a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}

			{% for page in 1..posts.lastPage %}
				<li class="{{ posts.currentPage == page ? 'active' : null }}">
					<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
				</li>
			{% endfor %}

			{% if posts.lastPage > posts.currentPage %}
				<li>
					<a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
-->