title = "Новости факультета"
url = "/news/:page?"
layout = "SecondaryLayout"
description = "Список последних новостей факультета"
is_hidden = 0
meta_title = "Новости факультета"
meta_description = "Новости нашего факультета"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Постов нет"
sortOrder = "published_at desc"
categoryPage = "index"
postPage = "post-view"
==
<div class="secondary__body">
	<!-- NEWS -->
	<div class="secondary__body_news">
		<div class="secondary__body_news_title">
			Новости
		</div>
		<div class="secondary__news">
			{% for post in posts %}
				<article class="news__item">
					<div class="news__item_preview">
						{% if post.featured_images.count %}
							{# the first variable will select the first featured image of the respective post #}
							{% set first = post.featured_images|first %}
							{# the second variable will create the path to the thumbnail #}
							{% set src = first.path|trim(first.disk_name) ~ 'thumb_' ~ first.id ~ '_' ~ '200x200_0_0_crop' ~ '.' ~ first.extension %}
							<img
									data-src="{{ first.filename }}"
									src="{{ src }}"
									alt="{{ first.description }}"
									style="max-width: 100%" class="news_pic round"
							/>
						{% else %}
							<img src="{{ "assets/img/news__5.png" | theme }}" alt="Новость" class="news_pic round">
						{% endif %}
					</div>
					<div class="news__item_body">
						<time class="news__item_date_date">
							{{ post.published_at|localizeddate('medium', 'none', locale) }}
						</time>
						<div class="news__item_title">
							<li><a class="contacts_link" href="{{ post.url }}">{{ post.title }}</a></li>
						</div>
						<div class="news__item_description">
							{{ post.summary|raw }}
						</div>
					</div>
				</article>

			{% else %}
				<article class="no-data">{{ noPostsMessage }}</article>
			{% endfor %}

			<!--
			<div class="news__item">
				<div class="news__item_preview">
					<img src="{{ "assets/img/news__2.png" | theme }}" alt="Новость" class="news_pic round">
				</div>
				<div class="news__item_body">
					<time class="news__item_date_date">
						27.09.2016
					</time>
					<div class="news__item_title">
						<li><a class="contacts_link" href="http://math.dev/article/first-blog-post">Зачисление абитуриентов</a></li>
					</div>
					<div class="news__item_description">
						Уважаемые абитуриенты! <br>
						Ниже мы прикладываем приказы о зачислении по общему конкурсу
						в первую волну на математический факультет. Обратите внимание,
						что проект приказа на официальном сайте приемной комиссии содержит ошибки.
						По всем возникающим вопросам Вы можете обратиться в приемную комиссию.
					</div>
				</div>
			</div>
			<div class="news__item">
				<div class="news__item_preview">
					<img src="{{ "assets/img/news__5.png" | theme }}" alt="Новость" class="news_pic round">
				</div>
				<div class="news__item_body">
					<time class="news__item_date_date">
						14.01.2016
					</time>
					<div class="news__item_title">
						<li><a class="contacts_link" href="http://math.dev/article/first-blog-post">Школа при факультете</a></li>
					</div>
					<div class="news__item_description">
						Расписание занятий на 1 семестр 2015/2016 учебного года. Внимание! Возможно изменения.
					</div>
				</div>
			</div>
			<div class="news__item">
				<div class="news__item_preview">
					<img src="{{ "assets/img/news__5.png" | theme }}" alt="Новость" class="news_pic round">
				</div>
				<div class="news__item_body">
					<time class="news__item_date_date">
						14.01.2016
					</time>
					<div class="news__item_title">
						<li><a class="contacts_link" href="http://math.dev/article/first-blog-post">День открытых дверей математического факультета</a></li>
					</div>
					<div class="news__item_description">
						Уважаемые школьники и их родители! <br> 10 апреля 2016 года в 11:00
						математический факультет ЯрГУ им.П.Г.Демидова открывает свои двери для встречи
						с Вами.
					</div>
				</div>
			</div>
			<div class="news__item">
				<div class="news__item_preview">
					<img src="{{ "assets/img/news__5.png" | theme }}" alt="Новость" class="news_pic round"/>
				</div>
				<div class="news__item_body">
					<time class="news__item_date_date">
						14.01.2016
					</time>
					<div class="news__item_title">
						<li><a class="contacts_link" href="http://math.dev/article/first-blog-post">Сменился телефон деканата</a></li>
					</div>
					<div class="news__item_description">
						Расписание занятий на 1 семестр 2015/2016 учебного года. Внимание! Возможно изменения.
					</div>
				</div>
			</div>
			-->
		</div>
	</div>

	<!-- SIDEBAR -->
	<div class="secondary__body secondary__body_info">
		<ul class="secondary__body_info_nav">
			<li><a class="contacts_link" href="/news">Новости</a></li>
			<li><a class="contacts_link" href="#">События</a></li>
			<li><a class="contacts_link" href="#">Фотогалерея</a></li>
		</ul>
		<div class="secondary__body_info_poster">
			<a href="#"><img src="{{ "assets/img/poster_1.png" | theme }}" alt="" class="poster"></a>
		</div>
		<div class="secondary__body_info_contacts">
			<div class="contacts_math">
				<div class="contacts__title">
					Математический факультет
				</div>
				<div class="contacts__description">
					+7 (4852) 308-550
				</div>
				<div class="contacts__description">
					Ярославль, <br> ул.Союзная, 144
				</div>
			</div>

			<div class="contacts_priem">
				<div class="contacts__title">
					Приёмная комиссия
				</div>
				<div class="contacts__description">
					+7 (4852) 303-210, 314-373
				</div>
				<div class="contacts__description">
					Ярославль, <br> ул.Кирова, 8/10
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="post-list">
	{% for post in posts %}

		<article class="media">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

			<p class="info">
				Опубликовано
				{% if post.categories.count %} в {% endif %}
				{% for category in post.categories %}
					<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
				{{ post.published_at|localizeddate('medium', 'none', locale) }}
				({{ post.published_at | time_diff  }})
			</p>

			<p class="excerpt">{{ post.summary }}</p>
		</article>

	{% else %}
		<li class="no-data">{{ noPostsMessage }}</li>
	{% endfor %}
</div>

{% if posts.lastPage > 1 %}
	<nav>
		<ul class="pagination">
			{% if posts.currentPage > 1 %}
				<li>
					<a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}

			{% for page in 1..posts.lastPage %}
				<li class="{{ posts.currentPage == page ? 'active' : null }}">
					<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
				</li>
			{% endfor %}

			{% if posts.lastPage > posts.currentPage %}
				<li>
					<a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}
-->