title = "post-view"
url = "/article/:slug"
layout = "SecondaryLayout"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "index"
==
<figure>
	<img src="img/news_pic.png" alt="" class="news__pic-view">
	<figcaption>
		Основной сайт факультета: <a href="http://www.math.uniyar.ac.ru"> math.uniyar.ac.ru </a>
	</figcaption>
</figure>

<!-- CONTENT -->
<article class="content">
	{{ post.content_html|raw }}
</article>

<!--
	<div class="content">{{ post.content_html|raw }}</div>

	{% if post.featured_images.count %}
		<div class="featured-images text-center">
			{% for image in post.featured_images %}
				<p>
					<img
							data-src="{{ image.filename }}"
							src="{{ image.path }}"
							alt="{{ image.description }}"
							style="max-width: 100%" />
				</p>
			{% endfor %}
		</div>
	{% endif %}

	<p class="info">
		Опубликовано
		{% if post.categories.count %} в
			{% for category in post.categories %}
				<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		{% endif %}
		{{ post.published_at|localizeddate('medium', 'none', locale) }}
	</p>
-->