title = "post-view"
url = "/article/:slug"
layout = "SecondaryLayout"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "index"
==
<figure>
	<img src="img/news_pic.png" alt="" class="news__pic-view">
	<figcaption>
		Основной сайт факультета: <a href="http://www.math.uniyar.ac.ru"> math.uniyar.ac.ru </a>
	</figcaption>
</figure>

<!-- CONTENT -->
<article class="content">
	{{ post.content_html|raw }}
</article>

<!-- featured -->
<div class="secondary__body secondary__body">
	<div class="news__item">
		<div class="news__item_preview">
			<img src="img/news__5.png" alt="Новость" class="news_pic round">
		</div>
		<div class="news__item_body">
			<time class="news__item_date_date">
				14.01.2016
			</time>
			<div class="news__item_title">
				<a class="contacts_link" href="/article/:slug">Расписание занятий</a>
			</div>
			<div class="news__item_description">
				<p>Расписание занятий на 1 семестр 2015/2016 учебного года. Внимание! Возможно изменения.</p>
			</div>
		</div>
	</div>
	<div class="news__item">
		<div class="news__item_preview">
			<img src="img/news__2.png" alt="Новость" class="news_pic round">
		</div>
		<div class="news__item_body">
			<time class="news__item_date_date">
				27.09.2016
			</time>
			<div class="news__item_title">
				<a class="contacts_link" href="/news">Зачисление абитуриентов</a>
			</div>
			<div class="news__item_description">
				<p>Уважаемые абитуриенты!</p>
				<p>Ниже мы прикладываем приказы о зачислении по общему конкурсу
					в первую волну на математический факультет. Обратите внимание,
					что проект приказа на официальном сайте приемной комиссии содержит ошибки.
					По всем возникающим вопросам Вы можете обратиться в приемную комиссию.</p>
			</div>
		</div>
	</div>
</div>

<!--
	<div class="content">{{ post.content_html|raw }}</div>

	{% if post.featured_images.count %}
		<div class="featured-images text-center">
			{% for image in post.featured_images %}
				<p>
					<img
							data-src="{{ image.filename }}"
							src="{{ image.path }}"
							alt="{{ image.description }}"
							style="max-width: 100%" />
				</p>
			{% endfor %}
		</div>
	{% endif %}

	<p class="info">
		Опубликовано
		{% if post.categories.count %} в
			{% for category in post.categories %}
				<a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		{% endif %}
		{{ post.published_at|localizeddate('medium', 'none', locale) }}
	</p>
-->