*
{
	box-sizing: border-box;
}

html,
body
{
	min-width: 1150px;
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header-section,
#header,
#news-preview .container
{
	min-width: 1100px;
}

#header-section
{
	background: rgb(75,129,195); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(75,129,195,1) 0%, rgba(124,208,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(75,129,195,1) 0%,rgba(124,208,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(75,129,195,1) 0%,rgba(124,208,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b81c3', endColorstr='#7cd0e5',GradientType=0 ); /* IE6-9 */
}

#logo
{
	float: left;
	font-size: 0;
	line-height: 0;
	height: 150px;
	width: 200px;
	background: url("../imgs/math_logo_blue.svg") no-repeat center;
	background-size: cover;
}

#logo a
{
	width: 100%;
	height: 100%;
	display: block;
}

.container
{
	min-width: 800px;
}

#header
{
	position: relative;
	display: block;
}

menu,
menu li
{
	list-style: none;
	display: inline-block;
}

menu
{
	float: right;
}

menu li a
{
	display: block;
	padding: 40px 20px;
	color: #fff;
}

menu li:last-child a
{
	padding: 20px 0 20px 40px;
}

#quick-data
{
	padding: 50px 100px;
}

#quick-data .title
{
	color: #fff;
	font-size: 50px;
	font-weight: 300;
}

#quick-data .button
{
	display: block;
	background-color: #E14167;
	height: 30px;
	width: 80px;
	padding: 0 5px 0 7px;
	line-height: 30px;
	color: #fff;
}


#news-preview
{
	display: block;
	position: relative;
	bottom:0;
	background-color: rgba(3,23,113,0.6);
	height: 150px;
}

#left-bg,
#right-bg
{
	display: block;
	position: relative;
}

#left-bg
{
	float: left;
}

#right-bg
{
	float: right;
}

