header
{
	background: rgb(75,129,195); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(75,129,195,1) 0%, rgba(124,208,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(75,129,195,1) 0%,rgba(124,208,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(75,129,195,1) 0%,rgba(124,208,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b81c3', endColorstr='#7cd0e5',GradientType=0 ); /* IE6-9 */
}

#header
{
	position: relative;
	display: block;
	height: 450px;
}

#news-preview
{
	display: block;
	position: relative;
	bottom:0;
	background-color: rgba(3,23,113,0.6);
	height: 150px;
}