description = "Layout for Main Page"
==
<!DOCTYPE html>
<html lang="en">
	<head>
		{% partial "headers" %}
	</head>

	<body>
		<div class="main">
			<div class="main__container container">
				<header class="main__head header">
					<h1 class="header__logo2">
						<a class="logo" href="#">
							<div class="logo__label" style="visibility: hidden">Математический факультет</div>
						</a>
					</h1>
					<nav class="header__nav">
						<ul class="nav">
							<li class="nav__item">
								<a class="nav__link" href="#">Абитуриентам</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#">Студентам</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="math-school.html">Школа</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#">Контакты</a>
							</li>
						</ul>
					</nav>
				</header>
				<div class="main__stage stage">
					<h2 class="stage__title">
						Информационная <br> безопасность
					</h2>
					<div class="stage__action">
						<a class="button button__main" href="#">УЗНАТЬ &nbsp;►</a>
					</div>
				</div>
				<div class="main__wizard wizard">
					<a class="wizard__item" href="entrant.html">
						<div class="card_type_beginner">
							<div class="card_type_begginer_pic"></div>
							<div class="card__text">
								<h3 class="card__title">
									Как поступить
								</h3>
								<div class="card__description">
									Пошаговое руководство.<br>
									Полезные советы
								</div>
							</div>
						</div>
					</a>

					<a class="wizard__item" href="student.html">
						<div class="card_type_student">
							<div class="card_type_student_pic"></div>
							<div class="card__text">
								<h3 class="card__title">
									Как учиться
								</h3>
								<div class="card__description">
									Олимпиады.<br>
									Наши кафедры.
								</div>
							</div>
						</div>
					</a>

					<a class="wizard__item" href="worker.html">
						<div class="card_type_worker">
							<div class="card_type_worker_pic"></div>
							<div class="card__text">
								<h3 class="card__title">
									Где трудиться
								</h3>
								<div class="card__description">
									Что Вас ждет в будущем? <br>
									Куда пойти работать? <br>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- Content -->
		{% page %}

		<!-- Footer -->
		{% partial "footer" %}

		<!-- Scripts -->
		{% partial "scripts" %}

	</body>
</html>