description = "Новости факультета"
==
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ this.page.meta_description }}">
		<meta name="title" content="{{ this.page.meta_title }}">
		<meta name="keywords" content="{{ this.theme.site_keywords }}{% if (this.page.keywords and this.theme.site_keywords) %},{% endif %}{{ this.page.keywords }} ">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="mokeev1995">
		<link rel="shortcut icon" href="{{ this.theme.site_favicon }}" type="image/{{ this.theme.site_favicon_type }}">

		<title>{{ this.page.title }} | {{ this.theme.site_name }}</title>

		{% styles %}

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,400italic,100,900&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

		<link href="{{ [
			'assets/css/bootstrap.css',
			'assets/css/news-layout.css',
		]|theme }}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<a class="navbar-brand" href="#">Новости факультета</a>
			</div><!-- /.container -->
		</nav>

		<main class="container">
			{% page %}
		</main>

		<script src="{{ [
			'assets/js/jquery-2.2.0.min.js',
			'assets/js/bootstrap.min.js',
		] | theme }}"></script>
		{% framework extras %}
		{% scripts %}
	</body>
</html>