description = "Layout for All Pages"
==
<!DOCTYPE html>
<html lang="en">
	<head>
		{% partial "headers" %}
	</head>

	<body>

		<div class="secondary">
			<div class="container secondary__container">
				<!-- Header -->
				<header class="header secondary__head header_type_short">
					<div class="header__logo">
						<a class="logo logo_type_simple" href="#">
							<div class="logo__label2">
								<a href="/"><img src="{{ "assets/img/math_logo.svg" | theme }}" alt="" class="logo__label2"></a>
							</div>
						</a>
					</div>
					<nav class="header__nav">
						<ul class="nav">
							<li class="nav__item">
								<a class="nav__link" href="#">Абитуриентам</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#">Студентам</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#">Контакты</a>
							</li>
						</ul>
					</nav>
				</header>

				<!-- Breadcrumbs -->
				<nav class="secondary__path">
					<ul class="breadcrumbs">
						<li class="breadcrumbs__item">
							<a class="button button_palette_darkblue" href="/">ГЛАВНАЯ &nbsp;►</a>
						</li>
						<li class="breadcrumbs__item">
							<a class="button" href="/news">НОВОСТИ</a>
						</li>
					</ul>
				</nav>

				<!-- Content -->
				<main class="secondary__body">
					<div class="secondary__body_news">
						<h1 class="secondary__body_news_title">
							{% if (this.page.title != "post-view") %}
								{{ this.page.title }}
							{% else %}
								{{ post.title }}
							{% endif %}
						</h1>
						<div class="secondary__news">
							<div class="secondary__item">
								<div class="secondary__item_body">
									<div class="news__description">
										{% page %}
									</div>
								</div>
							</div>
						</div>
					</div>

					<aside class="secondary__body secondary__body_info">
						<ul class="secondary__body_info_nav">
							<li><a class="contacts_link" href="news.html">Новости</a></li>
							<li><a class="contacts_link" href="#">События</a></li>
							<li><a class="contacts_link" href="#">Фотогалерея</a></li>
						</ul>
						<div class="secondary__body_info_poster">
							<a href="#"><img src="img/poster_1.png" alt="" class="poster"></a>
						</div>
						<div class="secondary__body_info_contacts">
							<div class="contacts_math">
								<div class="contacts__title">
									Математический факультет
								</div>
								<div class="contacts__description">
									+7 (4852) 308-550
								</div>
								<div class="contacts__description">
									Ярославль, <br> ул.Союзная, 144
								</div>
							</div>

							<div class="contacts_priem">
								<div class="contacts__title">
									Приёмная комиссия
								</div>
								<div class="contacts__description">
									+7 (4852) 303-210, 314-373
								</div>
								<div class="contacts__description">
									Ярославль, <br> ул.Кирова, 8/10
								</div>
							</div>
						</div>
					</aside>
				</main>
			</div>
		</div>

		<!-- Footer -->
		{% partial "featured" %}

		<!-- Footer -->
		{% partial "footer" %}

		<!-- Scripts -->
		{% partial "scripts" %}

	</body>
</html>