description = "Layout for static pages"

[staticPage]

[staticBreadcrumbs]
==
<!DOCTYPE html>
<html lang="en">
	<head>
		{% partial "headers" %}
	</head>

	<body>

		<div class="secondary">
			<div class="container secondary__container">
				<!-- Header -->
				<header class="header secondary__head header_type_short">
					<div class="header__logo">
						<a class="logo logo_type_simple" href="#">
							<div class="logo__label2">
								<a href="/"><img src="{{ "assets/img/math_logo.svg" | theme }}" alt="" class="logo__label2"></a>
							</div>
						</a>
					</div>
					<nav class="header__nav">
						<ul class="nav">
							<li class="nav__item">
								<a class="nav__link" href="#">Абитуриентам</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#">Студентам</a>
							</li>
							<li class="nav__item">
								<a class="nav__link" href="#">Контакты</a>
							</li>
						</ul>
					</nav>
				</header>

				<!-- Breadcrumbs -->
				<nav class="secondary__path">
					<ul class="breadcrumbs">
						<li class="breadcrumbs__item">
							<a class="button button_palette_darkblue" href="/">ГЛАВНАЯ &nbsp;►</a>
						</li>
					</ul>
				</nav>

				<main class="secondary__body">
					<div class="secondary__body_news">
						<h1 class="secondary__body_news_title">
							{{ title }}
						</h1>
						<div class="secondary__news">
							<div class="secondary__item">
								<div class="secondary__item_body">
									<div class="news__description">
										<article class="content">
											{% component 'staticPage' %}
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>

					{% partial "sidebar" %}
				</main>
			</div>
		</div>


		<!-- Footer -->
		{% partial "featured" %}

		<!-- Footer -->
		{% partial "footer" %}

		<!-- Scripts -->
		{% partial "scripts" %}

	</body>
</html>