<div class="features__news features_type_simple">
	<div class="features__container container">
		<div class="features__head">
			<h2 class="features__title">
				У нас творится история
			</h2>
			<div class="features__link">
				<a class="button button_palette_blue button__news" href="/news">НОВОСТИ &nbsp;►</a>
			</div>
		</div>
		<ul class="features__list">
			<li class="features__item teaser_palette_blue">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_1.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_purple">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_2.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>
			<li class="features__item teaser_palette_orange">
				<a class="teaser" href="#">
					<div class="teaser__head">
						<img class="teaser__preview" src="{{ "assets/img/news_2.png" | theme }}" alt="">
					</div>
					<div class="teaser__body">
						<h3 class="teaser__title">
							Конкурс
						</h3>
						<div class="teaser__description">
							By utilizing elements and principles of Material Design,
							we were able to create a framework that incorporates
							components and animations that provide more feedback to users.
						</div>
						<time class="teaser__date">
							20 ноября 2015
						</time>
					</div>
				</a>
			</li>

		</ul>
	</div>
</div>