description = "Подвал сайта"

[viewBag]
snippetCode = "footer"
snippetName = "Footer"
==
<footer class="footer">
	<div class="footer__container container">
		<div class="footer__primary">
			<div class="footer__nav">
				<nav class="column-nav">
					<div class="column-nav__column">
						<div class="column-nav__title">
							<a class="column-nav__primary-link" href="{{ 'index' | page }}/for-entrants">
								АБИТУРИЕНТАМ
							</a>
						</div>
						<ul class="column-nav__list">
							<li class="column-nav__item">
								<a class="column-nav__link" href="{{ 'index' | page }}/departments">
									кафедры
								</a>
							</li>
							<!--
							<li class="column-nav__item">
								<a class="column-nav__link" href="#">
									события
								</a>
							</li>-->
						</ul>
					</div>
					<div class="column-nav__column">
						<div class="column-nav__title">
							<a class="column-nav__primary-link" href="{{ 'index' | page }}/for-students">
								СТУДЕНТАМ
							</a>
						</div>
						<ul class="column-nav__list">
							<!--
							<li class="column-nav__item">
								<a class="column-nav__link" href="#">
									наука
								</a>
							</li>
							<li class="column-nav__item">
								<a class="column-nav__link" href="#">
									фотографии
								</a>
							</li>-->
						</ul>
					</div>
					<div class="column-nav__column">
						<div class="column-nav__title">
							<a class="column-nav__primary-link" href="{{ 'index' | page }}/for-scholars">
								ШКОЛА
							</a>
						</div>
					</div>
					<div class="column-nav__column">
						<div class="column-nav__title">
							<a class="column-nav__primary-link" href="{{ 'index' | page }}/contacts">
								КОНТАКТЫ
							</a>
						</div>
						<ul class="column-nav__list">
							<li class="column-nav__item">
								<a class="column-nav__link" href="mailto:math@uniyar.ac.ru">
									math@uniyar.ac.ru
								</a>
							</li>
							<li class="column-nav__item">
								<a class="column-nav__link" href="http://www.math.uniyar.ac.ru">
									www.math.uniyar.ac.ru
								</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<!--
			<div class="footer__actions">
				<div class="footer__search">
					<form class="search">
						<input class="search__input" type="search">
						<button class="search__submit" type="submit"></button>
					</form>
				</div>
				<div class="footer__site-map">
					<a class="link" href="#">Карта сайта</a>
				</div>
			</div>-->
			<div class="footer__secondary_line"></div>
		</div>
		<div class="footer__secondary">
			<div class="footer__secondary_logo"></div>
			<div class="footer__secondary_description">
				<div class="footer__secondary_title">
					&copy; Математический факультет ЯрГУ им.П.Г.Демидова, 2016
				</div>
				<div class="footer__secondary_title">
					&copy; Ярославский государственный университет им.П.Г.Демидова
				</div>
			</div>
		</div>
	</div>
</footer>