description = "Заголовки страниц"

[viewBag]
snippetCode = "headers"
snippetName = "Headers"
==
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="keywords"
      content="{{ this.theme.site_keywords }}{% if (this.page.keywords and this.theme.site_keywords) %},{% endif %}{{ this.page.keywords }} ">
<meta name="author" content="mokeev1995">

<!--<meta property="og:image" content="path/to/image.jpg">-->

<link rel="shortcut icon" href="{{ this.theme.site_favicon }}" type="image/{{ this.theme.site_favicon_type }}">
<!--<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->

{% if (this.page.title != "post-view") %}
	{% set title = this.page.title %}
{% else %}
	{% set title = post.title %}
{% endif %}

<title>{{ title }} | {{ this.theme.site_name }}</title>

{% styles %}

<!-- Load CSS, CSS Localstorage & WebFonts Main Function -->
<script>!function (e) {
		"use strict";
		function t(e, t, n) {
			e.addEventListener ? e.addEventListener(t, n, !1) : e.attachEvent && e.attachEvent("on" + t, n)
		}

		function n(t, n) {
			return e.localStorage && localStorage[t + "_content"] && localStorage[t + "_file"] === n
		}

		function a(t, a) {
			if (e.localStorage && e.XMLHttpRequest)n(t, a) ? o(localStorage[t + "_content"]) : l(t, a); else {
				var s = r.createElement("link");
				s.href = a, s.id = t, s.rel = "stylesheet", s.type = "text/css", r.getElementsByTagName("head")[0].appendChild(s), r.cookie = t
			}
		}

		function l(e, t) {
			var n = new XMLHttpRequest;
			n.open("GET", t, !0), n.onreadystatechange = function () {
				4 === n.readyState && 200 === n.status && (o(n.responseText), localStorage[e + "_content"] = n.responseText, localStorage[e + "_file"] = t)
			}, n.send()
		}

		function o(e) {
			var t = r.createElement("style");
			t.setAttribute("type", "text/css"), r.getElementsByTagName("head")[0].appendChild(t), t.styleSheet ? t.styleSheet.cssText = e : t.innerHTML = e
		}

		var r = e.document;
		e.loadCSS = function (e, t, n) {
			var a, l = r.createElement("link");
			if (t)a = t; else {
				var o;
				o = r.querySelectorAll ? r.querySelectorAll("style,link[rel=stylesheet],script") : (r.body || r.getElementsByTagName("head")[0]).childNodes, a = o[o.length - 1]
			}
			var s = r.styleSheets;
			l.rel = "stylesheet", l.href = e, l.media = "only x", a.parentNode.insertBefore(l, t ? a : a.nextSibling);
			var c = function (e) {
				for (var t = l.href, n = s.length; n--;)if (s[n].href === t)return e();
				setTimeout(function () {
					c(e)
				})
			};
			return l.onloadcssdefined = c, c(function () {
				l.media = n || "all"
			}), l
		}, e.loadLocalStorageCSS = function (l, o) {
			n(l, o) || r.cookie.indexOf(l) > -1 ? a(l, o) : t(e, "load", function () {
				a(l, o)
			})
		}
	}(this);</script>

<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,400italic,100,900&subset=latin,cyrillic-ext'
      rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ 'assets/css/header.min.css?ver=1.0.0' | theme }}">

<!-- Load CSS Start -->
<script>loadLocalStorageCSS("webfonts", "{{ 'assets/css/fonts.min.css?ver=1.0.0' | theme }}");</script>
<script>loadCSS("{{ 'assets/css/main.min.css?ver=1.0.0' | theme }}", false, "all");</script>

<!-- Load CSS Compiled without JS -->
<noscript>
	<link rel="stylesheet" href="{{ 'assets/css/fonts.min.css?ver=1.0.0' | theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/main.min.css?ver=1.0.0' | theme }}">
</noscript>