description = "Боковая панель"

[viewBag]
snippetCode = "sidebar"
snippetName = "Sidebar"

[staticMenu]
code = "sidebar-menu"
==
<aside class="secondary__body secondary__body_info">
	{% component 'staticMenu' %}
	<!--
	<ul class="secondary__body_info_nav">
		<li><a class="contacts_link" href="news.html">Новости</a></li>
		<li><a class="contacts_link" href="#">События</a></li>
		<li><a class="contacts_link" href="#">Фотогалерея</a></li>
	</ul>-->
	<div class="secondary__body_info_poster">
		<a href="#"><img src="{{ 'assets/img/poster_1.png' | theme }}" alt="" class="poster"></a>
	</div>
	<div class="secondary__body_info_contacts">
		<div class="contacts_math">
			<div class="contacts__title">
				Математический факультет
			</div>
			<div class="contacts__description">
				+7 (4852) 78-85-91
			</div>
			<div class="contacts__description">
				Ярославль, <br> ул.Союзная, 144
			</div>
		</div>

		<div class="contacts_priem">
			<div class="contacts__title">
				Приёмная комиссия
			</div>
			<div class="contacts__description">
				+7 (4852) 303-210, 314-373
			</div>
			<div class="contacts__description">
				Ярославль, <br> ул.Кирова, 8/10
			</div>
		</div>
	</div>
</aside>